body{
    height:200vh;
   display: flex;
  align-items: center;
  flex-direction: column;
}
h1{
   font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #f2f2f2;
  width:500px;
  
} 

p{
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    width: 50%;
    margin-bottom:0px;
   }
   .audio{
    margin: 20px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    background-color: white;
    box-shadow: 2px 2px 10px grey;
    display: flex;
    align-items: center;
    gap: 20px;
   }
   .audioimg{
    width: 40px;
    height:40px;
    border-radius: 50%;
   }