body{
 margin: 0;
 background-color:rgb(22, 22, 22);
 height:200vh;
}
@font-face {
    font-family: 'BebasNeue';
    src: url('./Fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
    font-weight:100-900;
    font-style: normal;
}
.Header{
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
  background-color: rgb(255, 102, 0);
  border-bottom: 1px solid black;
  z-index: 1000;
}
.heading{
    height: 100px;
    display: flex;
    align-items: center;
    flex-direction: row;
 
  

}
.title{ 
   
    text-align:left;
    font-size:3.5rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
    font-weight: 500;
}
.logo-img{
   margin-left:20px;
    width: 70px;
    height: 70px;
    border-radius:50%;
}



.Search-bar{
   margin-top: 150px;
   margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.search{
  
    width: 300px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px 10px;
    font-size: 16px;
}
.search-icon{
    width: 20px;
    height: 20px;
    margin-left: -30px;
    cursor: pointer;
}
.search::placeholder{
    padding-left:5px;
    font-size: 18px;
    font-family:cursive;
}

.thumbnail-picture{
    width:150px;
    height:150px;
    border-radius: 10px;
   
}
.Thumnails{
    display: inline-flex;
    width:400px;
    height:210px;
    border:1px solid rgb(255, 72, 0);
    border-radius: 10px;
    margin-left:20px;
    align-items: center;
    justify-content: center;
    gap:15px;
    background-color: azure;
   position: relative;
    padding: 20px;
    z-index: 1;
    margin-bottom: 20px;


}
.recipe-content{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap:4px;

}

.recipe-content p{
    margin:0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight:600;
    flex:1;
   
      
}
.recipe-content img{
    width:20px;
    margin-right:5px;
}
.recipe-details{
   color: rgb(255, 81, 0); 
}
   
.three-dots{
position: absolute;
cursor: pointer;
top:20px;
right: 8px;


}
.bottom-icons{
top:210px;
position: absolute;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 45px;
}

.content{
    margin-left: 40px;
    flex: 1;
   
}
.cookbtn{
    text-align: center;
    border:none;
    background-color: rgb(255, 72, 0);
    color:white;
    padding: 8px;
    border-radius: 5px;
    width:80px;
    font-size: 15px;
    cursor: pointer;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.cookbtn:hover{
    background-color:rgb(255, 102, 0); 
}
.Thumnails:hover{
  padding:25px;
 
}
.like-btn{
    background: none;
    border: none;
   
  
}
.like-icon{
 transition: transform 0.2s ease;
}
.like-icon:active{
    animation:pop 0.3s forwords;
    color:red;
}
@keyframes  pop{
    0%{transform:scale(1);}
    50%{transform:scale(1.5) rotate(-20deg);}
    70%{transform:scale(1.3) rotate(10deg);}
    100%{transform:scale(1,2) rotate(0deg);} 
}
.like-count{
    color: #ccc;
    font-weight: 500;
}
