body{
    margin: 0;
   background-color: hsl(0, 0%, 6%);
  height:150vh;
 
  font-family: 'BebasNeue';
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@font-face {
    font-family: 'BebasNeue';
    src: url('./Fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
    font-weight:100-900;
    font-style: normal;
}


.title{
    text-align: center;
    font-size: 45px;
    padding: 10px;
    font-weight: 600;
 font-family: Georgia, 'Times New Roman', Times, serif;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 500px;
    padding: 50px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: hsl(19, 100%, 50%);
}
.input-text{
    padding:10px;
    width: 100%;
    border-radius: 5px;
    border: none;

}
input[type="checkbox"]{
    transform: scale(1.2);
    margin-right: 10px;
    border: none;
    accent-color:black;

}
.sign-in-button{
    width: 100%;
    padding: 10px;
    background-color:rgb(0, 0, 0);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;

}
.sign-in-button:hover{
    background-color: rgb(27, 27, 27);
    transition: 0.3s;
    font-weight:550;
    
}
.remember-me{
    font-size: 19px;
    font-weight: 500;
}
p{
    font-size: 20px;
    font-weight: 500;
}